<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ue.colorful">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".ReleaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".feature.material.MDPaletteActivity"/>
        <activity android:name=".feature.pickphoto.PhotoColorPickerActivity"/>
        <activity android:name=".feature.pickpalette.PaletteColorPickerActivity"/>
        <activity android:name=".feature.pickscreen.ScreenColorPickerActivity"/>

        <service android:name=".feature.pickscreen.CaptureService"/>

        <activity android:name=".feature.calculate.CalculateActivity"/>
        <activity android:name=".feature.game.ClassicModeActivity"/>
        <activity android:name=".feature.game.TimeTrialModeActivity"/>
        <activity android:name=".feature.game_phun.EasyGameFragment"/>
        <activity android:name=".feature.game_phun.HardGameFragment"/>
        <activity android:name=".feature.game_phun.GameOverActivity"/>
        <activity android:name=".feature.test.ColorVisionTestActivity"/>
        <activity android:name=".feature.pickargb.PickFromARGBActivity">
        </activity>
        <activity android:name=".feature.main.ContainerActivity">
        </activity>
    </application>

</manifest>